$gray: #d7d7d7;
$gray-100: #d7d7d7;
$gray-200: #898989;
$gray-300: #707070;
$gray-400: #636363;
$gray-500: #464646;
$gray-600: #363636;
$black: #000;
$white: #fff;
$yellow: #fecb16;
$green: #8dc63f;
$green-200: #39b54a;
$pink: #f26d7d;
$body-color: $gray-300;

// $font-family-sans-serif: 'Raleway', sans-serif;
// $font-size-base: 0.875rem;

// Links
$link-hover-decoration: none;

// Body
$body-color: $body-color;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px
);

$navbar-light-toggler-border-color: rgba($white, .1);