<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Change Me</title>
        <link rel="stylesheet" href="{{root}}assets/css/tailwind.css?v={{timesamp}}">
        <link rel="stylesheet" href="{{root}}assets/css/main.css?v={{timesamp}}">
    </head>
    <body>

        {{> _header}}
        {{> body}}
        {{> _footer}}

        <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
        <script src="{{root}}assets/js/main.js?v={{timesamp}}"></script>
    </body>
</html>